<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <h1>LOGIN</h1>
        <img src="./showimg" alt="">
        <div class="input-group">
        <form action="./login" method="post">
            <input type="text" class="form-control" placeholder="Email" name="email">
            <input type="password" class="form-control" placeholder="Password" name="pwd">
            <button type="submit" class="btn btn-danger">登录</button>
        </form>
        </div>
        <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>