<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
</head>

<body style="text-align: center">
    <h1>LOGIN</h1>
    <img src="./showimg" alt=""><br>
    <span>Email是：{email}</span><br>
    <span>密码是：{pwd}</span>
    <div class="input-group" style="margin: 0px auto">
        <form action="./login" method="post">
            <input type="text" class="form-control" placeholder="Email" name="email">
            <input type="password" class="form-control" placeholder="Password" name="pwd">
            <button type="submit" class="btn btn-danger">登录</button>
        </form>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>